<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>
      <%= link_to "You have #{pluralize(@notifications, "new notification")} on #{pluralize(@slyps, "slyp")} from #{@people}", controller: "home", action: "feed", user_email: @user.email, user_token: @user.authentication_token %>.
    </p>
    <p>Much love,<br/>Team Slyp</p>
    <p style="text-align:center;">
      <%= link_to "update my email preferences", { controller: "home", action: "feed", user_email: @user.email, user_token: @user.authentication_token, skip_to: "email_settings" }, { style: "color:#a0a0a0;" } %>
    </p>
  </body>
</html>
