<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>Hey there, we are now ready for you to sign up for Slyp Beta :)</p>
    <p>To begin storing, sharing and discovering new content with friends signup here: <a target="_blank" href="https://www.slyp.io/beta/signup">slyp.io/users/sign_up.</a></p>
    <p>Happy Slypping,<br /> James & the Slyp Beta team :)</p>
  </body>
</html>
