<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>Hey there, thanks for joining slyp beta :)</p>
    <p>Slyp empowers you to organize the world's information by its relevancy to you and your friends.</p>
    <p>At Slyp we are committed to disrupting the share button by shifting it's focus from sharing on social media newsfeeds, to sharing directly with your friend's Slyp feed. Newsfeeds are full of content that may never be relevant to you and often times serve as distractions to what you really want to read. Slyp is your private platform to store, share and discover the content that is most relevant to you and your friends.</p>
    <p>We will be in touch with an invitation email shortly.</p>
    <p>cheers,<br /> james & the <%= link_to "slyp.io", controller: "home", action: "index", email: @beta_request.email %> team :)</p>
  </body>
</html>
