<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>Hey <%= @beta_request.first_name %>, thank you for joining Slyp Beta :)</p>
    <p>Slyp empowers you to organize the world's information by its relevancy to you and your friends.</p>
    <p>At Slyp we are committed to disrupting the share button by shifting the focus of sharing. We want to shift the focus from posting to social media, to sharing directly with your friends. Newsfeeds are full of content that may never be relevant to you and often times serve as distractions to what you really want to read. Slyp is your private platform to store, share and discover the content that is most relevant to you and your friends.</p>
    <p>We will be in touch with an invitation email shortly.</p>
    <p>Cheers,<br /> James & the Slyp Beta team :)</p>
  </body>
</html>
