<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>Hey there, we are now ready for you to sign up for slyp beta :)</p>
    <p><%= link_to "Join us", controller: "registrations", action: "new", email: @beta_request.email %></p>
    <p>happy slypping,<br /> james & the slyp.io team :)</p>
  </body>
</html>
