<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>Hey, James here. I'm the founder of Slyp.
    <p>thanks so much for joining our beta :) slyp is about organizing the internet by its relevancy to you and your friends. newsfeeds are full of distracting content. too often we fall victim to <a href="https://en.wikipedia.org/wiki/Clickbait">"clickbait"</a> whose only purpose is to monetize our eye-balls. we are fundamentally changing the way people share and discover online content.</p>
    <p>we will be in touch with an invitation email shortly. in the meantime please feel free to reply to me here with thoughts, questions or general musings. I always reply :) </p>
    <p>cheers,<br /> james & the <%= link_to "slyp.io", controller: "home", action: "index", email: @beta_request.email %> team :)</p>
  </body>
</html>
