<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>Hey there, we are now ready for you to sign up for Slyp Beta :)</p>
    <p>To begin storing, sharing and discovering relevant content to you and your friends, go here: <a target="_blank" href="https://www.slyp.io/beta/signup">slyp.io/users/sign_up.</a></p>
    <p>happy slypping,<br /> james & the slyp.io team :)</p>
  </body>
</html>
