<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p style="text-align:center;">~**~ LAUNCH DAY TODAY ... CELEBRATION TIME ~**~</p>
    <p>Welcome <%= @user.display_name_short %>. You are #<%= @user.id %> on our waitlist.</p>
    <p>Slyp is your content-sharing network without algorithms. For the people, by the people, of the people. As always you can reply to this email and a real human will get back to you. We love to chat.</p>
    <p>We will be in touch soon.</p>
    <p>Stay curious,<br /><%= link_to "Team Slyp", controller: "home", action: "index", email: @user.email %></p>
  </body>
</html>
