<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>Welcome. You are #<%= @user.id %> on our waitlist.</p>
    <p>Slyp is your newsfeed, reimagined. Your beautiful home to store, share and discuss all the best content you find online. With friends, Slyp is your truly personalized newsfeed. Without friends, it is your digital library. Of course... Slyp can be both these things at the same time!</p>
    <p>We will be in touch soon.</p>
    <p>Stay curious,<br /><%= link_to "Slyp Team", controller: "home", action: "index", email: @user.email %></p>
  </body>
</html>
