<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>Hey, James here.</p>
    <p>thanks for signing up to slyp beta. staying engaged with users is my #1 perogative. shoot me a reply here with any thoughts, questions or general musings. I always reply :)</p>
    <p>happy slypping,<br /> james & the slyp.io team :)</p>
  </body>
</html>
