<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p><%= @friend.display_name %></p>
    <p>You have a new friend on <%= link_to "Slyp", controller: "home", action: "feed", user_email: @friend.email, user_token: @friend.authentication_token %>: <b><%= @user.display_name %></b>. It's a celebration!</p>
    <p>With much love,<br/>Slyp</p>
  </body>
</html>
