<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p style="text-align:center;">~**~ LAUNCH DAY TODAY ... CELEBRATION TIME ~**~</p>
    <p>We have built a platform aimed at bringing more human and less algorithm to the content discovery process online. By signing up, you have joined us in that mission--we are grateful! If you get stuck, reach out :-) We love to chat.</p>
    <p>Stay curious,<br />Team Slyp</p>
  </body>
</html>
