<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>Hey there <%= @user.first_name %> :)</p>
    <p>Welcome to Slyp Beta.</p>
    <p>happy slypping,<br /> james & the slyp.io team :)</p>
  </body>
</html>
