<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p><%= @reslyp.comment %> -- <%= @slyp.url %></p>
    <p/>
    <p>To view all of your slyps in one place, head on over to <%= link_to "slyp.io", controller: "home", action: "index", email: @recipient.email %></p>
  </body>
</html>
