<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p><%= @reslyp.comment %> -- <%= @slyp.url %></p>
    <p/>
    <p>To view all of your slyps in one place, head on over to <a href="https://slyp-staging.herokuapp.com/">slyp.io</a></p>
  </body>
</html>
