<h1> Welcome to the next gen newsfeed! </h1>
<div id="main-region"></div>
<%= render "javascript" %>
<%= javascript_include_tag "feed" %>
<%= render "home/backbone_templates/slyp_card" %>
<%= render "home/backbone_templates/feed" %>
