<div id="js-nav-bar-region"></div>
<div id="js-feed-region"></div>
<%= javascript_include_tag "feed" %>
<%= render "home/backbone_templates/slyp_card" %>
<%= render "home/backbone_templates/feed" %>
<%= render "home/backbone_templates/nav_bar" %>
