<div id="extend-feed" class="ui basic center aligned segment">
  <div class="ui centered grid">
    <i class="ui row huge link icon" rv-classes-unless-map="appState.toPaginate" rv-classes-add-circle="appState.toPaginate"></i>
    <span class="ui row" rv-hide="appState.toPaginate">explore</span>
    <span class="ui row" rv-show="appState.toPaginate">load more</span>
  </div>
</div>
