<div id="extend-feed" class="ui basic center aligned segment">
  <button id="paginate-button" class="ui fluid large primary button" rv-class-loading="appState.resettingFeed" rv-show="appState.toPaginate">load more</button>
  <button id="explore-button" class="ui fluid large secondary button" rv-class-loading="appState.resettingFeed" rv-hide="appState.toPaginate">explore</button>
</div>
