<script type="text/template" id="js-feed-region-tmpl">
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider" rv-show="appState.isMobile < .screenWidth"></div>
  <div class="ui hidden divider" rv-show="appState.isMobile < .screenWidth"></div>

  <div id="filter-dropdown" class="ui selection scrolling dropdown" rv-class-loading="appState.resettingFeed" style="background:white;position:fixed;z-index:101;border-color:white;min-width:8em;" rv-fade-hide="appState.usingNavBar < searchMode addMode">
    <span class="text">Filter</span>
    <i class="dropdown icon"></i>
    <div class="menu" style="min-height:230px;">
      <div class="item" data-value="all">
        <i class="world icon"></i>
        All
      </div>
      <div class="item" data-value="search">
        <i class="search icon"></i>
        Search
      </div>
      <div class="header">
        <i class="users icon"></i>
        VIEW FRIENDSHIPS
      </div>
      <div class="item js-person" rv-each-person="persons" rv-data-value="person:id" rv-show="person.isFriend < :friendship_id">
        <img class="ui mini avatar image" rv-src="person:image | getAvatar person:first_name person:email">
        { person:first_name | userDisplay person:last_name person:email }
        <span class="description">{ person:email }</span>
      </div>
    </div>
  </div>

  <div class="ui icon buttons">
    <button id="add-friends" class="ui icon basic button" rv-class-red="user.needsFriends" rv-class-unless-green="user.needsFriends" data-tooltip="Add friends" data-position="bottom left">
      <i class="add user icon"></i>
    </button>
    <button id="compact-layout" class="ui icon grey basic button" rv-hide="appState.isMobile < .screenWidth" data-tooltip="Toogle layout" data-position="bottom left">
      <i class="ellipsis icon" rv-class-horizontal="appState.compactLayout" rv-class-unless-vertical="appState.compactLayout"></i>
    </button>
    <button id="explore" class="ui icon grey basic button" data-tooltip="Explore new content" data-position="bottom left">
      <i class="compass icon"></i>
    </button>
  </div>
  <div class="ui doubling stackable cards js-user-slyps-container" rv-classes-three-compact_layout="appState.compactLayout" style="margin-left:auto;margin-right:auto;margin-top:3%;" rv-classes-unless-feed_layout-one="appState.compactLayout"></div>
  <%= render "home/backbone_templates/extend_feed" %>
</script>
