<script type="text/template" id="js-feed-region-tmpl">
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider" rv-show="appState.actionsOnMobile < .actionsMode"></div>
  <div class="ui hidden divider" rv-show="appState.actionsOnMobile < .actionsMode"></div>
  <div class="ui hidden divider" rv-show="appState.actionsOnMobile < .actionsMode"></div>
  <div class="ui hidden divider" rv-show="appState.actionsOnMobile < .actionsMode"></div>
  <div class="ui hidden divider" rv-show="appState.actionsOnMobile < .actionsMode"></div>

  <a id="friends-progress" class="ui indicating small progress" data-total="10">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label"></div>
  </a>

  <div id="progress-divider" class="ui divider"></div>

  <div id="filter-dropdown" class="ui labeled scrolling dropdown" rv-class-loading="appState.resettingFeed" style="padding:15px;background:white;">
    <span class="text">Filter</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="recent">
        <i class="circle notched icon"></i>
        Last 7 days
      </div>
      <div class="item" data-value="all">
        <i class="world icon"></i>
        All
      </div>
      <div class="item" data-value="search">
        <i class="search icon"></i>
        Search
      </div>
      <div class="header">
        <i class="users icon"></i>
        VIEW FRIENDSHIPS
      </div>
      <div class="item" rv-each-person="persons" rv-data-value="person:id" rv-show="person.isFriend < :friendship_id">
        <img class="ui mini avatar image" rv-src="person:image | getAvatar person:first_name person:email">
        { person:first_name | userDisplay person:last_name person:email }
        <span class="description">{ person:email }</span>
      </div>
    </div>
  </div>


  <div class="ui basic segment feed-region" rv-class-loading="appState.resettingFeed"></div>
  <%= render "home/backbone_templates/extend_feed" %>
</script>
