<script type="text/template" id="js-feed-region-tmpl">
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider" rv-show="appState.isMobile < .screenWidth"></div>
  <div class="ui hidden divider" rv-show="appState.isMobile < .screenWidth"></div>

  <a id="friends-progress" class="ui indicating small progress" data-total="5">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label"></div>
  </a>

  <div id="progress-divider" class="ui divider"></div>

  <div id="filter-dropdown" class="ui selection scrolling dropdown" rv-class-loading="appState.resettingFeed" style="background:white;position:fixed;z-index:101;border-color:white;min-width:8em;" rv-fade-hide="appState.usingNavBar < searchMode addMode">
    <span class="text">Filter</span>
    <i class="dropdown icon"></i>
    <div class="menu" style="margin-left:-100px;min-height:230px;">
      <div class="item" data-value="all">
        <i class="world icon"></i>
        All
      </div>
      <div class="item" data-value="search">
        <i class="search icon"></i>
        Search
      </div>
      <div class="header">
        <i class="users icon"></i>
        VIEW FRIENDSHIPS
      </div>
      <div class="item" rv-each-person="persons" rv-data-value="person:id" rv-show="person.isFriend < :friendship_id">
        <img class="ui mini avatar image" rv-src="person:image | getAvatar person:first_name person:email">
        { person:first_name | userDisplay person:last_name person:email }
        <span class="description">{ person:email }</span>
      </div>
    </div>
  </div>

  <button id="compact-layout" class="ui icon button" rv-class-green="appState.compactLayout" rv-hide="appState.isMobile < .screenWidth">
    <i class="grid layout icon"></i>
  </button>

  <div class="ui doubling stackable cards js-user-slyps-container" rv-classes-three-compact_layout="appState.compactLayout" style="margin-left:auto;margin-right:auto;margin-top:3%;" rv-classes-unless-feed_layout-one="appState.compactLayout"></div>
  <%= render "home/backbone_templates/extend_feed" %>
</script>
