<script type="text/template" id="js-feed-region-tmpl">
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="feed-region"></div>
  <div class="ui raised segment" rv-hide="collection.hasChildren">
    <p>Your slyp feed is empty :( Paste any kind of link in that box ^ up there ^... to the right... with the plus button :)</p>
  </div>
</script>
