<script type="text/template" id="js-feed-region-tmpl">
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider" rv-show="appState.actionsOnMobile < .actionsMode"></div>
  <div class="ui hidden divider" rv-show="appState.actionsOnMobile < .actionsMode"></div>
  <div class="ui hidden divider" rv-show="appState.actionsOnMobile < .actionsMode"></div>
  <div class="ui hidden divider" rv-show="appState.actionsOnMobile < .actionsMode"></div>
  <div class="ui hidden divider" rv-show="appState.actionsOnMobile < .actionsMode"></div>

  <div class="feed-region"></div>
  <%= render "home/backbone_templates/zero_state" %>
</script>
