<script type="text/template" id="js-nav-bar-tmpl">
  <div class="ui top fixed secondary menu" style="background-color:white;border-bottom:1px solid gainsboro;">
    <div id="left-menu" class="ui column secondary menu" rv-hide="appState.hideNavFields < searchMode addMode">
      <div class="ui left secondary menu">
        <a id="home" class="ui basic button item">
          <img src="/assets/logo.png">
          <span style="padding-bottom:30%;font-size:smaller;padding-left:5%;">BETA</span>
        </a>
      </div>
    </div>

    <div class="ui column centered secondary fluid item menu" rv-show="appState.searchMode">
      <div class="ui category large search item">
        <div id="back-button">
          <i class="large double angle left link icon" style="padding-left:15px;padding-right:25px;"></i>
        </div>
        <div id="searcher" class="ui left icon input">
          <input class="prompt" type="text" rv-value="state.searchTerm" placeholder="search content, $conversations and @users">
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    <div class="ui column centered secondary fluid item menu" rv-show="appState.addMode">
      <div class="ui fluid action input">
        <input id="create-input" class="prompt" type="text" rv-value="appState.slypURL" placeholder="http://" autofocus>
        <button id="create-button" class="ui positive button">
          Add
        </button>
      </div>
    </div>

    <div id="right-menu" class="ui secondary menu column" rv-class-unless-right="appState.isMobile < screenWidth" rv-hide="appState.hideNavFields < searchMode addMode" style="padding-right:30px;">
      <div id="add-button" class="ui item column">
        <i class="add link large icon"></i>
      </div>

      <div id="search-button" class="ui item column">
        <i class="search large link icon"></i>
      </div>

      <div id="explore-button" class="ui item column">
        <i class="map large link icon"></i>
      </div>

      <div id="user-actions" class="ui dropdown item column">
        <i class="user large link icon"></i>
        <div class="menu">
          <a id="goto-settings" class="item">Settings</a>
          <a id="goto-help" class="item">Help</a>
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => "ui right item" %>
        </div>
      </div>
    </div>
  </div>
</script>