<script type="text/template" id="js-nav-bar-tmpl">
  <div class="ui inverted dimmer" rv-class-active="appState.searching">
    <div class="ui loader"></div>
  </div>
  <div class="ui container">
    <%= link_to root_path, :class => "item" do %>
      <img src="/assets/logo.png">
    <% end %>
    <a id="back-button" class="ui item button" rv-class-loading="appState.resettingFeed" rv-show="appState.searchMode">
      <i class="arrow left icon"></i>
      Back
    </a>
    <div class="ui search item">
      <div id="searcher" class="ui left icon input">
        <input class="prompt" type="text" rv-value="state.searchTerm" placeholder="search">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="ui right aligned category item">
      <div id="creator" class="ui icon input" rv-class-loading="state.creatingSlyp">
        <input class="prompt" type="text" rv-value="state.slypURL" placeholder="http://">
        <i class="circle add link icon"></i>
      </div>
    </div>
    <div id="user-actions" class="ui right dropdown item">
      <%= current_user.first_name.empty? ? current_user.email : current_user.first_name %>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Settings</div>
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => "ui right item" %>
        <div class="item">Help</div>
      </div>
    </div>


  </div>
</script>