<script type="text/template" id="js-nav-bar-tmpl">
  <div class="ui top fixed secondary menu three column grid" style="background-color: #FAFAFA;">
    <div id="left-menu" class="ui column secondary menu" rv-hide="appState.hideNavFields < searchMode addMode">
      <div class="ui left secondary menu">
        <a id="refresh" class="ui basic button item">
          <img src="/assets/logo.png">
          <span style="
              padding-bottom: 30%;
              font-size: smaller;
              padding-left: 5%;
          ">BETA</span>
        </a>
      </div>
    </div>

    <div class="ui column centered secondary fluid item menu" rv-show="appState.searchMode">
      <div class="ui category large search item">
        <button id="back-button" class="ui basic icon button">
          <i class="arrow left icon"></i>
          <span rv-hide="appState.isMobile < screenWidth">Back</span>
        </button>
        <div id="searcher" class="ui left icon input">
          <input class="prompt" type="text" rv-value="state.searchTerm" placeholder="search content, &conversations and @users">
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    <div class="ui column centered secondary fluid item menu" rv-show="appState.addMode">
      <div class="ui fluid action input">
        <input id="create-input" class="prompt" type="text" rv-value="state.slypURL" placeholder="http://" autofocus>
        <button id="create-button" class="ui positive button">
          Add
        </button>
      </div>
    </div>

    <div id="right-menu" class="ui secondary menu column" rv-class-unless-right="appState.isMobile < screenWidth" rv-hide="appState.hideNavFields < searchMode addMode">
      <div id="add-button" class="ui item column">
        <button class="ui icon positive button" rv-class-loading="state.creatingSlyp">
          <i class="add link icon"></i>
        </button>
      </div>

      <div id="search-button" class="ui item column">
        <button class="ui icon button">
          <i class="search icon"></i>
        </button>
      </div>

      <div id="user-actions" class="ui right dropdown item column" data-content="<%= current_user.email %>" data-variation="mini">
        <span id="display-name" data-content="<%= current_user.email %>" data-variation="mini"><%= current_user.first_name.empty? ? current_user.email : current_user.first_name %></span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Settings</div>
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => "ui right item" %>
          <div class="item">Help</div>
        </div>
      </div>
    </div>
  </div>
</script>