<script type="text/template" id="js-no-slyps-message-tmpl">
  <div class="ui icon message" style="background-color:white;">
    <i class="smile icon"></i>
    <div class="content">
      <div class="header">
        No slyps here
      </div>
      <p>Filter your feed with the dropdown above, create new slyps with <i class="plus icon"></i>, or try exploring!</p>
    </div>
  </div>
</script>