<script type="text/template" id="js-no-persons-message-tmpl">
  <div class="ui icon message">
    <i class="frown icon"></i>
    <div class="content">
      <div class="header">
        No friends
      </div>
      <p>Try inviting some of your friends with the methods above!</p>
    </div>
  </div>
</script>