<script type="text/template" id="js-no-reslyps-message-tmpl">
  <div class="ui icon message" style="background-color:white;">
    <i class="smile icon"></i>
    <div class="content">
      <div class="header">
        No conversations yet
      </div>
      <p>Use the box above to send this slyp to friends!</p>
    </div>
  </div>
</script>