<script type="text/template" id="js-onboard-modal-tmpl">
  <div class="ui center aligned header">Welcome { user:display_name }</div>
  <div class="image content">
      <div class="ui image" style="width:300px;height:auto;">
        <img class="image" src="/assets/logo.png">
      </div>
      <div class="description">
        <p>Store all your favourite links in your slyp feed. They'll remain private until you decide to share with friends. And even then, they will only be seen by friends you have chosen to send them to!</p>
        <p>Can we take you on a tour??</p>
      </div>
  </div>  <div class="actions">
    <div class="ui cancel basic grey button">Already toured</div>
    <div class="ui approve basic positive button">Start tour</div>
  </div>
</script>