<script type="text/template" id="js-modal-preview-tmpl">
  <i class="close icon"></i>
  <span class="ui header center aligned wrap">{ userSlyp.displayTitle }</span>
  <div class="ui basic center aligned segment">
    <a target="_blank" rv-href="userSlyp:url" style="color: #b1b2b2; font-size: 1.33rem;" >
      <span>{ userSlyp:author | authorship userSlyp:site_name userSlyp:url}</span>
    </a>
  </div>
  <div class="ui aligned basic segment" rv-html="userSlyp:html"></div>
</script>