<script type="text/template" id="js-reply-tmpl">
  <a class="avatar" rv-data-title="reply:sender.email">
    <img rv-src="reply:sender.first_name | getAvatar reply:sender.email">
  </a>
  <div class="content">
    <span class="author">
      { reply:sender.first_name | userDisplay reply:sender.last_name reply:sender.email }
    </span>
    <div class="metadata">
      <span class="date">{ reply:created_at | fromNow reply:updated_at}</span>
    </div>
    <div class="text">
      <p rv-hide="state.editMode">{ reply:text }</p>
      <div rv-show="state.editMode">
        <input rv-live-value="reply:text">
        <div class="ui buttons">
          <div id="cancel-update" class="ui button">Cancel</div>
          <div id="update" class="ui positive button" rv-show="reply.hasText < :text">Save Changes</div>
          <div id="delete" class="ui negative button" rv-hide="reply.hasText < :text">Delete</div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a class="edit" rv-show="reply.ownedByCurrentUser">
        <i class="large edit icon"></i>
      </a>
    </div>
  </div>
</script>