<script type="text/template" id="js-reslyp-tmpl">
  <a class="avatar" rv-data-title="reslyp:sender.email">
    <img rv-src="reslyp:sender.image | getAvatar reslyp:sender.first_name reslyp:sender.email">
  </a>
  <div class="content">
    <span class="author">
      <a class="user-display" rv-data-user-id="reslyp:sender.id">
        { reslyp:sender.first_name | userDisplay reslyp:sender.last_name reslyp:sender.email }
      </a>
      <span rv-show="reslyp.selfReslyp" style="font-weight:lighter;">(note to self)</span>
      <span rv-hide="reslyp.isRecipientMe">
        <span style="font-weight:lighter;"> > </span>
        <a class="user-display" rv-data-user-id="reslyp:recipient.id">
          { reslyp:recipient.first_name | userDisplay reslyp:recipient.last_name reslyp:recipient.email }
        </a>
      </span>
    </span>
    <div class="metadata">
      <span class="date">{ reslyp:created_at | fromNow }</span>
    </div>
    <div class="text">
      <p>{ reslyp:comment }</p>
    </div>
    <div class="actions">
      <a id="reply">Reply</a>
      <a id="replies" rv-show="reslyp:reply_count">{ reslyp:reply_count | numReplies }</a>
      <a class="ui red mini label" rv-show="reslyp:unseen_replies">{ reslyp:unseen_replies } new</a>
    </div>
  </div>
  <div class="ui minimal comments" rv-class-collapsed="state.hideReplies">
    <div class="ui comments js-replies-container"></div>
    <div class="ui form" rv-hide="state.hideReplies">
      <div class="field">
        <textarea id="reply-area" type="text" placeholder="Write a reply..." rv-value="state.replyText" rows="1" autofocus></textarea>
      </div>
      <button id="reply-button" class="ui positive button" rv-class-unless-disabled="state.hasReplyText < replyText">
        Reply
      </button>
    </div>
  </div>
</script>
