<div rv-show="state.gotAttention" class="ui fluid basic segment" rv-class-loading="state.reslyping" style="padding-top:0px;">
  <div id="reslyp-dropdown" class="ui fluid multiple selection search dropdown labeled icon button" rv-data-user-slyp-id="userSlyp:id" style="z-index:100;">
    <i class="send outline icon"></i>
    <input class="search" autocomplete="off" tabindex="0">
    <div class="default text">send to friends</div>
    <input id="recipient-emails" type="hidden" name="reslyps">
    <div class="menu">
      <div class="header" id="friends-header">
        Your friends
      </div>
      <div class="item" rv-each-friend="userSlyp.reslypableFriends < :friends" rv-data-value="friend:email" style="height:3.2em;">
        <img class="ui mini avatar image" rv-src="friend:image | getAvatar friend:first_name friend:email">
        { friend:display_name | reslypUserDisplay friend:email }
        <span class="description" style="font-size:smaller;">{ friend:email }</span>
      </div>
      <div class="header" rv-hide="state.moreResults">
        <a style="color:#4183C4;" id="see-more">Find more friends...</a>
      </div>
      <div class="header" rv-show="state.moreResults">
        Other people
      </div>
      <div class="item" rv-each-other="userSlyp.otherPersons" rv-data-value="other:email" rv-show="state.moreResults">
        <img class="ui mini avatar image" rv-src="other:image | getAvatar other:display_name other:email">
        { other:display_name }
        <span class="description"><i class="add user icon"></i></span>
      </div>
    </div>
  </div>
  <div class="ui center aligned form" rv-show="state.canReslyp">
    <div class="field">
      <textarea id="reslyp-comment" type="text" name="comment" placeholder="Why is this shareworthy?" rv-value="state.comment" rows="1" autofocus></textarea>
    </div>
    <button id="reslyp-button" class="ui positive icon button">
      Send
    </button>
  </div>
</div>
