<script type="text/template" id="js-settings-sidebar-region-tmpl">
  <i id="close-sidebar" class="big angle double left link icon" style="margin-bottom:1.5%;"></i>
  <div class="ui center aligned grid">
    <div class="ui left fixed vertical large secondary menu six wide column">
      <a id="profile" class="item" rv-class-active="state.profile" style="line-height:2.0em;font-size:1.3em;">Profile</a>
      <a id="emails" class="item" rv-class-active="state.emails" style="line-height:2.0em;font-size:1.3em;">Emails</a>
      <a id="terms" class="item" rv-class-active="state.terms" style="line-height:2.0em;font-size:1.3em;">Terms and conditions</a>
      <a id="privacy" class="item" rv-class-active="state.privacy" style="line-height:2.0em;font-size:1.3em;">Privacy statement</a>
    </div>

    <article class="center aligned ten wide column" rv-show="state.profile">
      <%= render "home/backbone_templates/settings/profile" %>
    </article>

    <article class="center aligned ten wide column" rv-show="state.emails">
      <%= render "home/backbone_templates/settings/emails" %>
    </article>

    <article class="center aligned ten wide column" rv-show="state.terms">
      <%= render "home/backbone_templates/settings/terms" %>
    </article>

    <article class="center aligned ten wide column" rv-show="state.privacy">
      <%= render "home/backbone_templates/settings/privacy" %>
    </article>
  </section>
</script>
<script type="text/javascript">

</script>
