<script type="text/template" id="js-sidebar-region-tmpl">
  <i id="close-sidebar" class="big angle double right link icon"></i>
  <div class="ui basic center aligned segment" rv-class-loading="state.loading" rv-hide="appState.leftPaneActive" style="margin: 0;">
    <a id="sidebar-title" class="ui header center aligned wrap" style="font-size:2em;">{ userSlyp.displayTitle }</a>
    <div class="ui hidden divider"></div>
    <p rv-hide="state.expanded" class="description">{ userSlyp:description | truncDescription } <a id="expand-description" style="text-decoration:underline;">expand</a></p>
    <p rv-show="state.expanded" class="description">{ userSlyp:description } <a id="collapse-description" style="text-decoration:underline;">hide</a></p>
    <span>
      <span class="fb-share-button" rv-data-href="userSlyp:url" data-layout="icon" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" rv-href="userSlyp.fbURL < :url">
          <i id="facebook-share" class="facebook link icon"></i>
        </a>
      </span>
      <i id="twitter-share" class="twitter link icon"></i>
    </span>
  </div>
  <div class="ui basic center aligned segment" rv-show="appState.leftPaneActive">
    <span class="ui header center aligned wrap" style="font-size:1.28em;">Conversations</a>
  </div>
  <span rv-hide="userSlyp.hasConversations < :friends">You haven't sent this to anyone yet :(</span>

  <%= render "home/backbone_templates/reslyp_widget" %>
  <div class="ui comments js-reslyps-container">
  </div>
</script>