<script type="text/template" id="js-slyp-card-tmpl">
  <div class="extra content" >
    <span class="right floated">
      <i class="comments outline icon"></i>
      { userSlyp:total_reslyps }
      <i id="favorite-action" class="heart icon" rv-class-active="userSlyp:favourite"></i>
      { userSlyp:total_favourites }
    </span>
    <div class="left floated">
      { userSlyp:duration | consumption userSlyp:slyp_type }
    </div>
  </div>

  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <div rv-show="userSlyp:html" id="preview-button" class="ui primary icon button"><i class="ui search icon"></i>Preview</div>
          <a rv-hide="userSlyp:html" target="_blank" rv-href="userSlyp:url" class="ui primary icon button">Go there<i class="ui right arrow icon"></i></a>
        </div>
      </div>
    </div>
    <a rv-href="userSlyp:url" target="_blank">
      <img type="image" class="ui small image display centered" rv-data-src="userSlyp:display_url" src="/assets/blank-image.png">
    </a>
  </div>

  <div class="content">
    <a class="header center aligned wrap" target="_blank" rv-href="userSlyp:url">{ userSlyp.displayTitle | trunc }</a>
    <div class="meta center aligned">
      <a target="_blank" rv-href="userSlyp:url">
        <span>{ userSlyp:author | authorship userSlyp:site_name userSlyp:url }</span>
      </a>
    </div>
  </div>

  <div class="extra content friend-data">
    <div class="row">
      <a id="conversations" class="description">
        <i class="icon" rv-class-red="userSlyp:unseen_activity" rv-class-comments-outline="userSlyp.hasConversations < :friends" rv-class-unless-spy="userSlyp.hasConversations < :friends"></i>
        <span rv-show="userSlyp.hasConversations < :friends">{ userSlyp:friends | numConversations }</span>
        <span rv-hide="userSlyp.hasConversations < :friends">Only you see this</span>
      </a>
      <div class="ui fluid popup" rv-class-unless-wider="appState.isMobile < screenWidth">
        <div class="header" style="text-decoration: underline;">{ userSlyp:friends | convosTitle }</div>
        <div class="ui comments js-reslyps-container"></div>
      </div>
      <i id="archive-action" class="right floated large checkmark icon" rv-class-active="userSlyp:archived" rv-data-content="userSlyp:archived | doneText" data-variation="tiny"></i>
    </div>

    <div class="row" rv-show="userSlyp.hasComment < :latest_comment">
      <a id="comment-label" class="ui small pointing basic label">
        <image class="ui avatar image" rv-src="userSlyp:latest_comment.first_name | getAvatar userSlyp:latest_comment.email" rv-data-title="userSlyp:latest_comment.email"></span>
        <span class="extra content">{ userSlyp:latest_comment.text }</span>
      </a>
    </div>
  </div>

  <div rv-fade-show="state.gotAttention" class="ui fluid mobile show" style="display: none;">
    <div class="ui fluid multiple selection search dropdown labeled icon button" rv-data-user-slyp-id="userSlyp:id">
      <i class="send icon"></i>
      <div class="default text">send me to friends</div>
      <input id="recipient-emails" type="hidden" name="reslyps">
      <div class="menu"></div>
    </div>
    <div class="ui form" rv-show="state.canReslyp">
      <div class="field">
        <textarea id="reslyp-comment" type="text" name="comment" placeholder="Why is this shareworthy?" rv-value="state.comment" rows="1" autofocus></textarea>
      </div>
      <button id="reslyp-button" class="ui positive button">
        <i class="send icon"></i> Send
      </button>
    </div>
  </div>

  <div class="ui fullscreen modal" target="_blank" rv-href="userSlyp:url" rv-data-user-slyp-id="userSlyp:id">
    <i class="close icon"></i>
    <span class="ui header center aligned wrap">{ userSlyp.displayTitle }</span>
    <div class="ui basic center aligned segment">
      <a target="_blank" rv-href="userSlyp:url" style="color: #b1b2b2; font-size: 1.33rem;" >
        <span>{ userSlyp:author | authorship userSlyp:site_name userSlyp:url}</span>
      </a>
    </div>
    <div class="ui aligned basic segment" rv-html="userSlyp:html">
    </div>
  </div>
</script>