<script type="text/template" id="js-slyp-card-tmpl">

  <a class="extra content" rv-href="model:url" target="_blank">
    <div class="right floated meta">{ model:total_reslyps | numReslyps }</div>
    <div class="left floated meta">
      { model:duration | duration } { model:slyp_type | consumptionVerb }
    </div>
  </a>

  <a rv-href="model:url" target="_blank">
    <img type="image" class="ui small image display centered" rv-data-src="model:display_url" src="/assets/blank-image.png">
  </a>

  <div class="content">
    <a class="header center aligned wrap" target="_blank" rv-href="model:url">{ model.displayTitle | trunc }</div>
    <div class="meta center aligned">
      <a target="_blank" rv-href="model:url">
        <span rv-show="model.authorshipMeta">{ model.authorshipMeta }</span>
      </a>
    </div>
  </div>

  <div rv-fade-show="state.gotAttention" class="ui hidden divider" style="display: none;"></div>
  <div rv-fade-show="state.gotAttention" class="extra content friend-data" style="display: none;">
    <div class="content">
      <i class="right floated star icon" rv-class-active="model:favourite"></i>
      <i class="right floated archive icon" rv-class-active="model:archived"></i>
      <a class="summary front-display" >
        <i class="comment icon"></i>
        <span>{ model:reslyps | numComments }</span>
      </a>
      <span class="description">
        <b>from</b>
        <i class="user icon"></i>
        <span>{ model:friends | numFriends }</span>
      </span>
      <div class="ui fluid popup friend-comments">
        <div class="ui comments">
          <div class="comment" rv-each-reslyp="model:reslyps" rv-hide="reslyp.sender">
            <div class="avatar" rv-data-title="reslyp.user.email">
              <img class="round" rv-avatar="reslyp.user.first_name">
            </div>
            <div class="content">
              <a class="author">{ reslyp.user.first_name } { reslyp.user.last_name }</a>
              <div class="metadata">
                <span class="date">{ reslyp.created_at | fromNow }</span>
              </div>
              <div class="text">
                <p>"{ reslyp.comment }"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div rv-fade-show="state.gotAttention" class="ui fluid" style="display: none;">
    <div class="ui fluid multiple selection search dropdown labeled icon button" rv-data-user-slyp-id="model:id">
      <i class="add user icon"></i>
      <div class="default text">send to friends</div>
      <input id="recipient-emails" type="hidden" name="reslyps">
      <div class="menu"></div>
    </div>
    <div class="ui action input fluid" rv-show="state.canReslyp">
      <input id="reslyp-comment" type="text" name="comment" placeholder="add a comment"  rv-value="state.comment">
      <button class="ui positive button" rv-class-loading="state.reslyping"><i class="send icon"></i>Send</button>
    </div>
  </div>
</script>