<script type="text/template" id="js-slyp-card-tmpl">
  <div class="ui inverted dimmer" rv-class-active="appState.resettingFeed">
    <div class="ui loader"></div>
  </div>
  <div class="extra content" style="padding:10px;">
    <span class="right floated">
      <i class="comments outline icon"></i>
      { userSlyp:total_reslyps }
      <i id="favorite-action" class="like icon" rv-class-active="userSlyp:favourite"></i>
      { userSlyp:total_favourites }
    </span>
    <div class="left floated">
      <div class="comment" style="display:inline-flex;">
        <a class="avatar" rv-href="userSlyp:url" target="_blank">
          <img rv-src="userSlyp.favicon < :url" src="http://www.google.com/s2/favicons?domain=www.slyp.io" style="height:16px;width:16px">
        </a>
        <div class="content" style="margin-left:1em;text-align:left;">
          <a class="author" rv-href="userSlyp:url" target="_blank">{ userSlyp:site_name }</a>
          <div class="metadata" style="display:flex;margin-left:0;">
            <span class="date">{ userSlyp:duration | consumption userSlyp:slyp_type }</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <a id="card-preview">
            <p style="color:white;opacity:0.8;pointer-events:inherit;margin-left:30px;margin-right:30px;">
              { userSlyp:description | trunc 500 }
            </p>
          </a>
          <br/>
          <span id="slyp-actions">
            <i id="send-button" class="big send outline link icon" style="padding-right:25px;"></i>
            <i id="preview-button" class="big search link icon" style="padding-left:25px;padding-right:25px;"></i>
            <i id="conversations-button" class="big talk outline link icon" style="padding-left:25px;padding-right:25px;"></i>
          </span>
        </div>
      </div>
    </div>
    <img id="card-image" type="image" class="ui big image display centered" rv-data-src="userSlyp:image" src="/assets/blank-image.png" style="border:none;max-height:500px;">
  </div>

  <div class="content">
    <a id="title" class="header center aligned wrap" style="font-size:1.5em;">{ userSlyp.displayTitle | trunc }</a>
  </div>

  <div class="extra content friend-data" style="padding:10px;text-align:left;">
    <div class="ui left aligned row">
      <a id="conversations" class="description">
        <i class="large icon" rv-classes-talk-outline="userSlyp.hasConversations < :friends" rv-class-unless-spy="userSlyp.hasConversations < :friends" style="margin-bottom:2px;"></i>
        <span rv-show="userSlyp.hasConversations < :friends">{ userSlyp:friends | numConversations }</span>
        <span class="ui left pointing circular label" rv-hide="userSlyp.hasConversations < :friends">Only you see this</span>
        <span class="ui red mini label" rv-show="userSlyp.hasLove < :unseen_replies :unseen_activity">{ userSlyp.loveAmount < :unseen_replies :unseen_activity } new</span>
      </a>
      <i id="explore-us" class="right floated large compass link icon" rv-class-active="userSlyp:archived" data-content="Find similar content" data-variation="tiny"></i>
    </div>

    <div id="latest-conversation-container" class="ui left aligned row" style="padding-top:10px;" rv-class-loading="state.loadingQuickReply" rv-show-flex="userSlyp.hasConversations < :latest_conversation">
      <img class="ui avatar image" rv-src="userSlyp:latest_conversation.image | getAvatar userSlyp:latest_conversation.first_name userSlyp:latest_conversation.email" rv-data-title="userSlyp:latest_conversation.email">
      <a id="comment-label" class="ui left pointing circular label" rv-class-medium="state.intendingToReply" rv-class-unless-small="state.intendingToReply">
        <span class="extra content">{ userSlyp:latest_conversation.text }</span>
      </a>
    </div>
    <div id="quick-reply-form" class="ui center aligned form" rv-show="state.intendingToReply">
      <div class="field">
        <textarea id="quick-reply-input" type="text" placeholder="Write a quick reply..." rv-value="state.quickReplyText" rows="1" autofocus></textarea>
      </div>
      <button id="quick-reply-button" class="ui basic positive icon button" rv-class-unless-disabled="state.hasQuickReplyText < quickReplyText">
        Reply
      </button>
    </div>
    </div>
  </div>

  <%= render "home/backbone_templates/reslyp_widget" %>
</script>