<script type="text/template" id="js-slyp-card-tmpl">

  <a class="extra content" href="<%%= url %>" target="_blank">
    <div class="right floated meta"><%%= 'reslyp'.pluralize(reslyps_count) %> </div>
    <div class="left floated meta">
      <%% if (duration == undefined){ %>
        brief
      <%% } else { %>
        <%%= Math.ceil(duration/60) %> min
      <%% } %>

      <%% if (slyp_type == 'video'){ %>
        watch
      <%% } else { %>
        read
      <%% } %>
    </div>
  </a>

  <a href="<%%= url %>" target="_blank">
    <img type="image" class="ui medium image display centered" data-src="<%%= display_url %>" src="/assets/blank-image.png">
  </a>
  <!-- <i class="right floated empty star large icon"></i> -->


  <div class="content">
    <a class="header center aligned" target="_blank" href="<%%= url %>"><%%= title.trunc(70) %></div>
    <div class="meta center aligned">
      <a target="_blank" href="<%%= url %>"><%%= site_name %>
        <%% if (author != "") { %>
          | by <%%= author %>
        <%% } %>
      </a>
    </div>
  </div>


  <div class="extra content friend-data">
    <span class="ui right floated description">
      <i class="user icon"></i>
      <%%= 'friend'.pluralize(friends_count) %>
    </span>
    <%% if (reslyps.length > 0){ reslyp = reslyps[0];%>
      <div class="summary front-display">
        <img class="ui round avatar right spaced image" avatar="<%%= reslyp.user.first_name %>" data-title="<%%= reslyp.user.first_name %> <%%= reslyp.user.last_name %>">
        <a><span>"<%%= reslyp.comment.trunc(20) %>"<i class="dropdown icon"></i></span></a>
      </div>

      <div class="ui fluid popup" data-title="Friend Comments">
        <div class="ui comments">
          <%% for (var i = 0; i < reslyps.length; i++) { %>
            <%% if (!reslyps[i].sender){ %>
              <div class="comment">
                <div class="avatar" data-title="<%%= reslyps[i].user.first_name %> <%%= reslyps[i].user.last_name %>">
                  <img class="round" avatar="<%%= reslyps[i].user.first_name %>">
                </div>
                <div class="content">
                  <a class="author"><%%= reslyps[i].user.first_name %> <%%= reslyps[i].user.last_name %></a>
                  <div class="text">
                    <p>"<%%= reslyps[i].comment %>"</p>
                  </div>
                </div>
              </div>
            <%% } %>
          <%% } %>
        </div>
      </div>
    <%% } %>
  </div>

  <div class="ui center aligned">
    <div class="ui fluid multiple search selection dropdown labeled icon button">
      <i class="add user icon"></i>
      <input type="hidden" name="reslyps">
      <div class="default text">add friend</div>
      <div class="menu">
      </div>
    </div>
    <button class="ui button send" style="display: none;">
      <i class="send icon"></i>
      Send
    </button>
  </div>

</script>