<script type="text/template" id="js-slyp-card-tmpl">
  <div class="extra content" style="padding:10px;">
    <span class="right floated">
      <i class="comments outline icon"></i>
      { userSlyp:total_reslyps }
      <i id="favorite-action" class="heart outline icon" rv-class-active="userSlyp:favourite"></i>
      { userSlyp:total_favourites }
    </span>
    <div class="left floated">
      { userSlyp:duration | consumption userSlyp:slyp_type }
    </div>
  </div>

  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <span>
            <i id="send-button" class="big send outline link icon" style="padding-right:25px;"></i>
            <i id="preview-button" class="big search link icon" style="padding-left:25px;padding-right:25px;"></i>
            <i id="conversations-button" class="big comment outline link icon" style="padding-left:25px;"></i>
          </span>
        </div>
      </div>
    </div>
    <a rv-href="userSlyp:url" target="_blank">
      <img type="image" class="ui small image display centered" rv-data-src="userSlyp:image" src="/assets/blank-image.png">
    </a>
  </div>

  <div class="content">
    <a  id="title" class="header center aligned wrap">{ userSlyp.displayTitle | trunc }</a>
    <div class="meta center aligned">
      <a target="_blank" rv-href="userSlyp:url">
        <span>{ userSlyp:author | authorship userSlyp:site_name userSlyp:url }</span>
      </a>
    </div>
  </div>

  <div class="extra content friend-data" style="padding: 10px;">
    <div class="row">
      <a id="conversations" class="description">
        <i class="icon" rv-classes-comments-outline="userSlyp.hasConversations < :friends" rv-class-unless-spy="userSlyp.hasConversations < :friends"></i>
        <span rv-show="userSlyp.hasConversations < :friends">{ userSlyp:friends | numConversations }</span>
        <span rv-hide="userSlyp.hasConversations < :friends">Only you see this</span>
        <span class="ui red mini label" rv-show="userSlyp.hasLove < :unseen_replies :unseen_activity">{ userSlyp.loveAmount < :unseen_replies :unseen_activity } new</span>
      </a>
      <i id="explore-us" class="right floated large map link icon" rv-class-active="userSlyp:archived" data-content="Find similar content" data-variation="tiny"></i>
      <i id="archive-action" class="right floated large checkmark icon" rv-class-active="userSlyp:archived" rv-data-content="userSlyp:archived | doneText" data-variation="tiny"></i>
    </div>

    <div class="ui basic segment row" style="padding:0px;margin:0em;" rv-class-loading="state.loadingQuickReply" rv-show="userSlyp.hasConversations < :latest_conversation">
      <a id="comment-label" class="ui pointing circular label" rv-class-medium="state.intendingToReply" rv-class-unless-small="state.intendingToReply">
        <image class="ui avatar image" rv-src="userSlyp:latest_conversation.image | getAvatar userSlyp:latest_conversation.first_name userSlyp:latest_conversation.email" rv-data-title="userSlyp:latest_conversation.email"></span>
        <span class="extra content">{ userSlyp:latest_conversation.text }</span>
      </a>
      <div id="quick-reply-form" class="ui center aligned form" rv-show="state.intendingToReply">
        <div class="field">
          <textarea id="quick-reply-input" type="text" placeholder="Write a quick reply..." rv-value="state.quickReplyText" rows="1" autofocus></textarea>
        </div>
        <button id="quick-reply-button" class="ui positive icon button" rv-class-unless-disabled="state.hasQuickReplyText < quickReplyText">
          Reply
        </button>
      </div>
    </div>
  </div>

  <%= render "home/backbone_templates/reslyp_widget" %>
</script>