<script type="text/template" id="js-slyp-card-tmpl">
  <div class="extra content" >
    <div class="right floated">{ userSlyp:total_reslyps | numReslyps }</div>
    <div class="left floated">
      { userSlyp:duration | consumption userSlyp:slyp_type }
    </div>
  </div>

  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <div rv-show="userSlyp:html" id="preview-button" class="ui primary icon button"><i class="ui search icon"></i>Preview</div>
          <a rv-hide="userSlyp:html" target="_blank" rv-href="userSlyp:url" class="ui primary icon button">Go there<i class="ui right arrow icon"></i></a>
        </div>
      </div>
    </div>
    <a rv-href="userSlyp:url" target="_blank">
      <img type="image" class="ui small image display centered" rv-data-src="userSlyp:display_url" src="/assets/blank-image.png">
    </a>
  </div>

  <div class="content">
    <a class="header center aligned wrap" target="_blank" rv-href="userSlyp:url">{ userSlyp.displayTitle | trunc }</a>
    <div class="meta center aligned">
      <a target="_blank" rv-href="userSlyp:url">
        <span>{ userSlyp:author | authorship userSlyp:site_name userSlyp:url }</span>
      </a>
    </div>
  </div>

  <div class="extra content friend-data">
    <div class="row">
      <a id="conversations" class="description">
        <i class="user icon" rv-class-red="userSlyp:unseen_activity"></i>
        <span>{ userSlyp:friends_count | numConversations }</span>
      </a>
      <div class="ui fluid popup" rv-class-unless-wider="appState.isMobile < screenWidth">
        <div class="ui comments js-reslyps-container"></div>
      </div>
      <i id="favorite-action" class="right floated large star icon" rv-class-active="userSlyp:favourite" data-content="favorite" data-variation="tiny"></i>
      <i id="archive-action" class="right floated large archive icon" rv-class-active="userSlyp:archived" data-content="archive" data-variation="tiny"></i>
    </div>

    <div class="row">
      <a id="comment-label" class="ui tiny pointing basic label">
        <span class="extra content">{ userSlyp:comments | chooseComment }</span>
      </a>
    </div>
  </div>

  <div rv-fade-show="state.gotAttention" class="ui fluid mobile show" style="display: none;">
    <div class="ui fluid multiple selection search dropdown labeled icon button" rv-data-user-slyp-id="userSlyp:id">
      <i class="add user icon"></i>
      <div class="default text">send to friends</div>
      <input id="recipient-emails" type="hidden" name="reslyps">
      <div class="menu"></div>
    </div>
    <div class="ui action input fluid" rv-show="state.canReslyp">
      <input id="reslyp-comment" type="text" name="comment" placeholder="Write a comment..." rv-value="state.comment">
      <button id="reslyp-button" class="ui positive button" rv-class-loading="state.reslyping" rv-class-unless-disabled="state.hasComment < comment"><i class="send icon"></i>Send</button>
    </div>
  </div>

  <div class="ui fullscreen modal" target="_blank" rv-href="userSlyp:url" rv-data-user-slyp-id="userSlyp:id">
    <i class="close icon"></i>
    <span class="ui header center aligned wrap">{ userSlyp.displayTitle }</span>
    <div class="ui basic center aligned segment">
      <a target="_blank" rv-href="userSlyp:url" style="color: #b1b2b2; font-size: 1.33rem;" >
        <span>{ userSlyp:author | authorship userSlyp:site_name userSlyp:url}</span>
      </a>
    </div>
    <div class="ui aligned basic segment" rv-html="userSlyp:html">
    </div>
  </div>
</script>