<script type="text/template" id="js-slyp-card-tmpl">
  <div class="extra content" >
    <span class="right floated">
      <i class="comments outline icon"></i>
      { userSlyp:total_reslyps }
      <i id="favorite-action" class="heart icon" rv-class-active="userSlyp:favourite"></i>
      { userSlyp:total_favourites }
    </span>
    <div class="left floated">
      { userSlyp:duration | consumption userSlyp:slyp_type }
    </div>
  </div>

  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <span rv-show="userSlyp:html">
            <div id="send-button" class="ui positive icon button">
              <i class="ui send icon"></i>
              Send
            </div>
            <div id="preview-button" class="ui primary icon button">
              <i class="ui search icon"></i>
              Preview
            </div>
          </span>
          <span rv-hide="userSlyp:html">
            <div id="send-button" class="ui positive icon button">
              <i class="ui send icon"></i>
              Send
            </div>
            <a target="_blank" rv-href="userSlyp:url" class="ui primary icon button">
              Go there
              <i class="ui right arrow icon"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
    <a rv-href="userSlyp:url" target="_blank">
      <img type="image" class="ui small image display centered" rv-data-src="userSlyp:display_url" src="/assets/blank-image.png">
    </a>
  </div>

  <div class="content">
    <a class="header center aligned wrap" target="_blank" rv-href="userSlyp:url">{ userSlyp.displayTitle | trunc }</a>
    <div class="meta center aligned">
      <a target="_blank" rv-href="userSlyp:url">
        <span>{ userSlyp:author | authorship userSlyp:site_name userSlyp:url }</span>
      </a>
    </div>
  </div>

  <div class="extra content friend-data">
    <div class="row">
      <a id="conversations" class="description">
        <i class="icon" rv-class-red="userSlyp:unseen_activity" rv-class-comments-outline="userSlyp.hasConversations < :friends" rv-class-unless-spy="userSlyp.hasConversations < :friends"></i>
        <span rv-show="userSlyp.hasConversations < :friends" rv-class-bold="userSlyp:unseen_activity">{ userSlyp:friends | numConversations }</span>
        <span rv-hide="userSlyp.hasConversations < :friends">Only you see this</span>
      </a>
      <div class="ui fluid popup" rv-class-unless-wider="appState.isMobile < screenWidth">
        <div class="header">{ userSlyp:friends | convosTitle }</div>
        <div class="ui comments js-reslyps-container"></div>
      </div>
      <i id="archive-action" class="right floated large checkmark icon" rv-class-active="userSlyp:archived" rv-data-content="userSlyp:archived | doneText" data-variation="tiny"></i>
    </div>

    <div class="row" rv-show="userSlyp.hasConversations < :latest_conversation">
      <a id="comment-label" class="ui small pointing basic label">
        <image class="ui avatar image" rv-src="userSlyp:latest_conversation.first_name | getAvatar userSlyp:latest_conversation.email" rv-data-title="userSlyp:latest_conversation.email"></span>
        <span class="extra content">{ userSlyp:latest_conversation.text }</span>
      </a>
      <div id="reply-form" class="ui form" rv-show="state.intendingToReply">
        <div class="field">
          <textarea id="reply-input" type="text" placeholder="Write a reply..." rv-value="state.replyText" rows="1" autofocus></textarea>
        </div>
        <button id="reply-button" class="ui positive button" rv-class-unless-disabled="state.hasReplyText < replyText">
          Reply
        </button>
      </div>
    </div>
  </div>

  <div rv-fade-show="state.gotAttention" class="ui fluid mobile show" style="display: none;">
    <div class="ui fluid multiple selection search dropdown labeled icon button" rv-data-user-slyp-id="userSlyp:id">
      <i class="send icon"></i>
      <input class="search" autocomplete="off" tabindex="0" style="width: 2.1428em;">
      <div class="default text">send to friends</div>
      <input id="recipient-emails" type="hidden" name="reslyps">
      <div class="menu">
        <div class="header" id="friends-header">
          Your friends
        </div>
        <div class="item" rv-each-friend="scrubbedFriends" rv-data-value="friend.email">
          <img class="ui mini avatar image" rv-src="friend.first_name | getAvatar friend.email">
          { friend.first_name | userDisplay friend.last_name friend.email }
          <span class="description">{ friend.email }</span>
        </div>
        <div class="header" rv-hide="state.moreResults">
          <a id="see-more">Find more friends...</a>
        </div>
        <div class="header" rv-show="state.moreResults">
          Other people
        </div>
        <div class="item" rv-each-other="state.moreResults" rv-data-value="other.email">
          <img class="ui mini avatar image" rv-src="other.display_name | getAvatar other.email">
          { other.display_name }
          <span class="description"><i class="add user icon"></i></span>
        </div>
      </div>
    </div>
    <div class="ui form" rv-show="state.canReslyp">
      <div class="field">
        <textarea id="reslyp-comment" type="text" name="comment" placeholder="Why is this shareworthy?" rv-value="state.comment" rows="1" autofocus></textarea>
      </div>
      <button id="reslyp-button" class="ui positive button">
        <i class="send icon"></i> Send
      </button>
    </div>
  </div>

  <div class="ui fullscreen modal" target="_blank" rv-href="userSlyp:url" rv-data-user-slyp-id="userSlyp:id">
    <i class="close icon"></i>
    <span class="ui header center aligned wrap">{ userSlyp.displayTitle }</span>
    <div class="ui basic center aligned segment">
      <a target="_blank" rv-href="userSlyp:url" style="color: #b1b2b2; font-size: 1.33rem;" >
        <span>{ userSlyp:author | authorship userSlyp:site_name userSlyp:url}</span>
      </a>
    </div>
    <div class="ui aligned basic segment" rv-html="userSlyp:html">
    </div>
  </div>
</script>