<h1 class="header">Send me these emails</h1>
<div class="ui divider"></div>
<span>(we will do our best to bundle these emails together when we can)</span>
<div class="ui left aligned padded basic segment" rv-class-loading="state.saving" rv-class-disabled="state.disabled" style="margin:0em;">
  <div class="ui form">
    <div class="ui vertical segment">
      <div class="ui toggle checkbox">
        <label>Email me when friends send me new slyps</label>
        <input type="checkbox" name="summary" rv-checked="user:notify_reslyp">
      </div>
    </div>
    <div class="ui vertical segment">
      <div class="ui toggle checkbox">
        <label>Email me about new conversation or friend activity</label>
        <input type="checkbox" name="summary" rv-checked="user:notify_activity">
      </div>
    </div>
    <div class="ui vertical segment">
      <div class="ui toggle checkbox">
        <label>CC me when I send a slyp to an email contact not on Slyp</label>
        <input type="checkbox" name="summary" rv-checked="user:cc_me_on_email_reslyp">
      </div>
    </div>
    <div class="ui vertical segment">
      <div class="ui toggle checkbox">
        <label>Send me a summary of all unread slyps and replies at the end of the week.</label>
        <input type="checkbox" name="summary" rv-checked="user:weekly_summary">
      </div>
    </div>
  </div>
</div>