<div class="ui center aligned basic segment" rv-class-loading="state.saving">
  <h3 class="ui horizontal divider header">
    Invite friends
  </h3>
  <p style="margin-top:20px;font-size:larger;margin-left:100px;">Share this referral link with all the friendly people!</p>
  <div class="ui right labeled left icon input">
    <i class="linkify icon"></i>
    <input type="text" rv-value="user:referral_link" readonly="true">
    <a class="ui tag label">
      Referral link
    </a>
  </div>
  <p></p>
  <span style="margin-left:15%;">
    <span class="fb-share-button" rv-data-href="user:referral_link" data-layout="icon" data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank" rv-href="user.fbReferral">
        <i id="facebook-share" class="large facebook link icon"></i>
      </a>
    </span>
    <a class="twitter-share-button" rv-href="user.tweetReferral">
      <i id="twitter-share" class="large twitter link icon"></i>
    </a>
    <a rv-href="user.mailToReferral">
      <i id="mail-share" class="large mail link icon"></i>
    </a>
  </span>
</div>
<h3 class="ui horizontal divider header" style="line-height:1.2;">
  Manage friendships
</h3>
<div class="ui center aligned basic segment">
  <div id="person-search" class="ui right action left icon input">
    <i class="remove link icon" rv-class-remove="state.searchingPersons" rv-class-unless-search="state.searchingPersons"></i>
    <input type="text" placeholder="Find friends..." rv-live-value="state.personSearchTerm">
    <button class="ui basic primary button" rv-class-unless-disabled="state.personSearchTermValid < .personSearchTerm">Search</button>
  </div>
</div>
<article id="persons"></article>

