<div class="ui center aligned basic segment" rv-class-loading="state.saving">
  <h3 class="ui horizontal divider header">
    Invite friends
  </h3>
  <div class="ui action input">
    <input id="invite-input" type="text" placeholder="Invite friends by email" rv-live-value="state.inviteEmail">
    <button id="invite-button" class="ui positive button">Invite</button>
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui right labeled left icon input">
    <i class="linkify icon"></i>
    <input type="text" rv-value="user:referral_link" readonly="true">
    <a class="ui tag label">
      Referral link
    </a>
  </div>
</div>
<h3 class="ui horizontal divider header" stlye="line-height:1.2;">
  Manage friendships
</h3>
<article id="friendships"></article>
<button id="show-others" class="fluid ui basic button">Load all</button>
<article id="others" rv-show="state.showOthers"></article>
