<div class="ui center aligned basic segment">
  <h3 class="ui header">
    Friends
  </h3>
</div>
<article id="friendships"></article>
<button id="show-others" class="fluid ui basic button">Load all</button>
<article id="others" rv-show="state.showOthers"></article>
