<script type="text/template" id="js-person-tmpl">
  <div class="right floated">
    <button class="circular ui icon button" rv-class-unless-positive="person.isFriend < :friendship_id" rv-class-loading="state.loading">
      <i class="icon" rv-classes-unless-add-user="person.isFriend < :friendship_id" rv-class-checkmark="person.isFriend < :friendship_id"></i>
    </button>
  </div>
  <img class="ui avatar image" rv-src="person:image | getAvatar person:first_name person:email">
  <div class="content">
    { person:display_name }
    <span style="color:rgba(0, 0, 0, 0.4);margin: 0em 0em 0em 1em;" rv-show="person.isFriend < :friendship_id">{ person:email }</span>
  </div>
</script>
