<h1 class="header"> Slyp - Privacy statement </h1>
<div class="ui divider"></div>
<div class="ui left aligned padded basic segment" style="margin:0em;">
  <p>Last updated: June 07, 2016</p>
  <p>Slyp ("us", "we", or "our") operates the http://www.slyp.io website (the "Service").</p>
  <p>This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.</p>
  <p>We will not use or share your information with anyone except as described in this Privacy Policy.</p>
  <p>We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at http://www.slyp.io</p>
  <h3>Information Collection And Use</h3>
  You are not required to create a user account or provide any personal information in order to visit the Pocket website. You are required to create a user account, however, to use our application. During registration, you are required to provide a name, password and valid email address or you may choose to signup with Facebook Login.
  If you choose to share any videos, articles, or other content with another person, we will ask you to provide a valid email address for that person if they are not already a valid Slyp user. We also collect information if you contact us for support or help, or otherwise communicate with us. The information which you supply to us enables us to customize and enhance the services we provide to you.
  <p>In addition to the information that you provide to us when you register for a user account, we collect information about the URLs, titles and content of the web pages and other information you save to Slyp. The types of information we collect includes your browser type, device type, time zone, language, and other information related to the manner in which you access our services.</p>
  <p>In addition to the methods described above, we may also collect information using cookies or other technologies. You may decline our cookies if your browser permits, although in that case you may not be able to use certain features and you may be required to enter your password more frequently during a session. Cookies and other technologies make our Pocket Technologies easier to use and help us customize and personalize the services we provide based on your interests and activities.</p>
  <p>We may also use "pixel tags," "web beacons," "clear GIFs" or similar means (individually or collectively "Pixel Tags") in connection with emails that we send to our users in order to collect usage data. We use Pixel Tags, other technologies and the information we collect to count users who have visited certain pages on our Website, to deliver branded services and to help determine the effectiveness of promotional or advertising campaigns.</p>
  <h3>Log Data</h3>
  <p>We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
  <h3>Cookies</h3>
  <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
  <p>We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
  <h3>Service Providers</h3>
  <p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
  <p>These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
  <h3>Security</h3>
  <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
  <h3>Links To Other Sites</h3>
  <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
  <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
  <h3>Managing my privacy and email settings</h3>
  <p>As part of our default settings, we send emails to our users and if you would like to avoid receiving such emails in the future, you may opt-out of receiving it either by using the unsubscribe feature on any of our email correspondence or by logging in to the Slyp application and choosing "Settings". Nevertheless we will try to keep our emails to a minimum :-).</p>
  <p>Should you choose to send a link (and the relevant information behind that link) to anyone currently using the Slyp service, (henceforth, "friend") and should the friend's email settings be set to "Notify me <b>immediately</b> when my friends send me something", the Slyp service will send an email to the friend's registered email address and the from address shall be set as your registered email address. Otherwise all other email communication shall be sent from an address ending in "@slyp.io".</p>
  <h3>Updating the information you provide</h3>
  <p>The Slyp application allows you to update or change the information you provided to us during registration. You may do so by logging in and choosing the option for "Settings" The Advanced Option menu also allows you to clear saved links from your account. If you have any questions about updating the information you have provided to us, please contact us.</p>
  <h3>Children's Privacy</h3>
  <p>Our Service does not address anyone under the age of 13 ("Children").</p>
  <p>We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we discover that a Children under 13 has provided us with Personal Information, we will delete such information from our servers immediately.</p>
  <h3>Changes To This Privacy Policy</h3>
  <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
  <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
  <h3>Contact Us</h3>
  <p>If you have any questions about this Privacy Policy, please contact us.</p>
</div>