.round {
  border-radius: 50%;
  border: 1px solid black;
}

.ui.popup{overflow:auto;}

.wrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

/* Landing page theme */
.full.height.image {
  background: #17a6e9;
  background-image: linear-gradient(-135deg,#01A9ED 0,#439FE0 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.ui.main.container {
  min-height: 100vh;
  vertical-align: middle;
  /*display: table-cell;*/
}
.ui.information.container {
  padding-top: 18%;
  width: 75%;
  position: relative;
}
.ui.information.container h1, .ui.information.container p {
  text-align: center;
}
.full.height .ui.vertical.footer.segment {
  bottom: 0;
  position: relative;
}
.ui.information.container h1 {
  color: white;
  text-shadow: 0 1px 5px rgba(0,0,0,.25);
  font-size: 3.5em!important;
  font-style: bold;
}
.ui.information.container p {
  font-size: 2em!important;
  color: rgba(255,255,255,.8);
  padding-left: 15%;
  padding-right: 15%;
}
.ui.embed {
  padding-bottom: 45%;
}
.text-center {
  text-align: center;
}

/* Responsiveness */
@media screen and (max-width: 767px) {
  .mobile.only {
    display: block !important;
  }
  .mobile.hide {
    display: none !important;
  }
  .mobile.show {
    display: block !important;
  }
}

@media screen and (min-width: 768px) {
  .mobile.hide {
    display: block;
  }
  .mobile.only {
    display: none !important;
  }
}