<p><%= @resource.first_name.empty? ? @email : @resource.first_name %>, welcome to Slyp!</p>

<p>Use this link below to confirm your account: <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Stay curious,<br />Team Slyp</p>

