<% if flash.any? %>
  <div class="flashes">
    <% user_facing_flashes.each do |key, msg| -%>
      <%= content_tag :div, msg, :id => "flash-#{key}" if msg.blank? %>
    <% end -%>
  </div>
<% end %>
